/* BASIC FRAMES */

body {
    font-family: 'Open Sans', sans-serif;
    background-color: black;
    overflow: hidden;
    margin: 0;
    width: 100%;
    height: 100%;
}
#window {
    background-color: black;
    width: inherit;
    height: inherit;
}

/* IMAGE */

#image-container {
    width: inherit;
    height: inherit;
}
#main-image {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
}

/* TOOLING */

#help-hover {
    color: white;
    position: absolute;
    float: left;
    z-index: 9999;
    margin: 2px 0px 0px 4px;
    -webkit-animation-duration: 0.3s;
    -moz-animation-duration: 0.3s;
}
#load-hover {
    color: white;
    float: right;
    margin: 2px 4px 0px 0px;
    display: none;
    z-index: 9999;
}
#help-window {
    -webkit-animation-duration: 0.3s;
    -moz-animation-duration: 0.3s;
    padding: 10px;
    font-size: 80%;
    display: none;
    color: white;
    position: absolute;
    width: 40%;
    margin: 0 auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.7;
    filter: alpha(opacity=70);
}
#help-hover:hover {
    cursor: pointer;
}
#help-window:hover {
    cursor: pointer;
}
#help-window td {
    padding-right: 30px;
}

/* NOTIFICATIONS */

#notification-box {
    display: none;
    /* invisible on start */
    position: absolute;
    width: 25%;
    margin: 0 auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
#notification {
    background-color: black;
    color: white;
    opacity: 0.7;
    filter: alpha(opacity=70);
    text-align: center;
    border-radius: 25px;
}
