body {
    background-color: black;
}
#window {
    background-color: black;
}
#image-container {
    position: relative;
}
#main-image {
    position: absolute;
    width: 90%;
    margin: 0 auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
